/* Projects Section */
#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projects-grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px 20px;
}
.project-grid-container{
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: 0px 10px 51px -19px rgba(0,0,0,0.73);
    transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.project-grid-container:hover{
    cursor: pointer;
    border: 2px solid rgb(156, 155, 155);
    transform: scale(1.05);
}
.techstack-used{
    margin-bottom: 15px;
    -o-object-fit: cover;
}
.project-img img{
    position: relative;
    width: 100%;
}
/* toottip on each button required */

@media (min-width: 768px) and (max-width: 1300px){
    .projects-grid-wrapper{
        margin: 0 auto;
        grid-template-columns: repeat(2,1fr);
        gap: auto;
        place-content: center;
    }
}

@media (min-width: 480px) and (max-width: 767px){
    #projects{
        width: 80vw;
        margin: 0 auto;
    }
    .projects-grid-wrapper{
        margin: 0 30px;
        grid-template-columns: repeat(1,1fr);
        gap: auto 0;
       
    }
}